html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#docViewerFrame {
    min-height: 500px;
    height: 100%;
}
.pdfView {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1111;
    width: 100%;
    height: 100vh;
}
.closePDF,
.view-container .close {
    position: absolute;
    top: calc(100vh - 50px);
    right: 10px;
    z-index: 1111;
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    border-radius: 5px;
    cursor: pointer;
}

#app {
    position: relative;
    padding-bottom: 15px;
    background-color: #f4f5fa;
    width: 100%;
}

#app .navbar {
    width: 100%;
    height: 186px;
    background: url('../images/top_bg.png');
    background-size: 100% 100%;
}

#app .navbar-title {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ffffff;
}

#app .header {
    margin: -45px 10px 0;
    border-radius: 10px;
}

#app .header-label {
    position: relative;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    border-radius: 10px 10px 0 0;
    font-size: 19px;
    font-weight: bold;
    color: white;
    background: url('../images/bt_zh_bg.png');
    background-size: 100% 100%;
}

#app .header-label-ico {
    width: 50px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#app .header-label-title {
    padding-left: 50px;
    letter-spacing: 1px;
}

#app .header-value {
    padding: 0 15px;
    border-radius: 0 0 10px 10px;
    background-color: white;
}

#app .header-value .card-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    min-height: 45px;
    line-height: 25px;
    border-bottom: 1px solid #dfdfdf;
}

#app .header-value .card-line-label {
    /* width: 210px; */
    color: #909399;
    word-break: keep-all;
    margin-right: 20px;
}

#app .header-value .card-line-value {
    text-align: right;
    word-break: break-all;
    color: black;
    white-space: pre-line;
    text-align-last: left;
}

#app .card {
    margin: 15px 10px 0;
    border-radius: 10px;
    background: white;
    border-radius: 10px;
}

#app .card_title {
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 10px 10px 0 0;
    color: black;
    background: url('../images/bt_bg.png');
    background-size: 100% 100%;
}

#app .card .card_body {
    padding: 0 15px 15px;
}

#app .card .card_body .card-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    line-height: 45px;
}

#app .card .card_body .card-line-label {
    color: #909399;
}

#app .card .card_body .card-line-value {
    color: black;
}

#app .card .card_body .imgBox-title {
    height: 45px;
    line-height: 45px;
    color: #909399;
}

#app .card .card_body .imgBox-body {
    display: flex;
    padding: 20px;
    background-color: #f2f8ff;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

#app .card .card_body .imgBox-body .ico {
    width: 15px;
    height: 100%;
    margin-right: 10px;
}

.moreImg {
    padding: 0 5px;
    /* max-height: 300px;
    overflow-y: auto; */
}

.moreImg .img-list {
    padding: 10px 5px;
    background-color: #f8fbff;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.moreImg .img-list-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#app .view-container {
    position: fixed;
    top: 0;
    right: 0;
    /* bottom: 40px; */
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    z-index: 1000;
}

#app .view-container .view-centren {
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    margin: auto;
}

/* #app .view-container .close {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #dfdfdf;
    cursor: pointer;
} */

.view-src {
    background: #ffffff;
}

.view-img {
    width: 100%;
    margin: auto;
}

.loadingBox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 800px;
}

.loadingTips {
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(185, 185, 185);
}

.isLoading {
    filter: blur(3px);
}
